{
  "version": 3,
  "name": "oosa-api-gateway",
  "port": 8080,
  "cache_ttl": "3600s",
  "timeout": "10s",
  "plugin": {
    "pattern": ".so",
    "folder": "/etc/krakend/plugins/"
  },
  "extra_config": {
    "telemetry/logging": {
      "level": "DEBUG",
      "prefix": "[KRAKEND]",
      "syslog": false,
      "stdout": true
    },
    "plugin/http-server": {
      "name": ["static-filesystem"],
      "static-filesystem": {
        "prefix": "/doc/*",
        "path": "/doc"
      }
    }
  },
  "endpoints": [
    {
      "endpoint": "/",
      "backend": [
        {
          "host": ["http://localhost:8080"],
          "url_pattern": "/__health"
        }
      ]
    },
    {{ range $idx, $endpoint := .endpoint.group }}{{if $idx}},{{end}}
    {
    "endpoint": "{{ $endpoint.endpoint }}",
    "method": "{{ $endpoint.method }}",
    "input_headers": [
        "User-Agent",
        "Authorization",
        "Content-Type",
        "Host",
        "Connection",
        "Cookie",
        "X-User-Account",
        "X-User-Id",
        "X-User-Email",
        "X-User-Name",
        "X-User-Language",
        "X-User-Avatar",
        "X-Notification-Id"
    ],
    {{if $endpoint.input_querys}}"input_query_strings": {{ marshal $endpoint.input_querys }},{{end}}
    "output_encoding": "no-op",
    "extra_config": {
      {{ include "rate_limit_endpoint.tmpl" }}{{if $endpoint.modifier_lua_proxy}},
      "modifier/lua-proxy":{{ marshal $endpoint.modifier_lua_proxy }}{{end}}
    },
    "backend": [
      {
        "url_pattern": "{{ $endpoint.backend }}",
        "method": "{{ $endpoint.method }}",
        "encoding": "no-op",
        "host": {{ marshal $endpoint.host }},
        "extra_config": {
          {{if $endpoint.no_redirect}}"plugin/http-client":{"name": "no-redirect"} {{end}}
        }
      }
    ]}{{ end }}
	]
}